div {
    background-color: white;

   
}
body{
    background-color: darkgray;
    margin: 0;
    height: 100%;
}
.head {
        border-bottom: 3px solid;
        padding: 1%;

}
header {
 
    background-color: white;
    padding-top: 1%;
    margin: 0%;

}


strong {
    background-color: green;
    color: white;
    margin-left: 3%;
    padding: 2% 1% 1% 1%;
    text-align: center;
    font-size: 23px;
}
a {
float: right;
padding-right: 3%;
padding-left: 3%;
text-decoration: none;
color: purple;

}
#Portfolio {
    border-left: 3px solid black;
    color: purple;
}
#Contact {
    border-left: 3px solid black;
    color: purple;
    
}
footer {
    
    text-align: center;
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;

}

.ss {
   
    color: green;
    position: absolute;
    top: 5%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    float: right;
    background-color: darkgray;

}
#picright {
    float: left;
    margin: 5px;
}
@media screen and (max-width: 768px, max-width ) {
    
    body {
      background-color: greenyellow;
    }

    footer {
        background-color: lightseagreen;
    }
}