div {
    background-color: white;

   
}
body{
    background-color: darkgray;
    margin: 0;
    height: 100%;
}
.head {
        border-bottom: 3px solid;

}
header {
 
    background-color: white;
    padding-top: 5px;
}


strong {
    background-color: green;
    color: white;
   margin-left: 3%;
    padding: auto;
    text-align: center;
   
    
}
a {
  float: right;
padding-right: 3%;
padding-left: 3%;
text-decoration: none;

}
#Portfolio {
    border-left: 3px solid rgb(224, 191, 191);
}
#Contact {
    border-left: 3px solid;
    color: black;
}
footer {
    
    text-align: center;
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;


    
}
#something {
    margin: 40% 5% 60% 5%;
    text-align: center;
  
}
p {
    position: absolute;
    top: 5%;
    bottom: 0;
    left: 10%;
    right: 10%;
    float: right;
    border-top: 3px solid;
    margin-top: 3%;
}
.ss {
   
    color: green;
    position: absolute;
    top: 5%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    float: right;

}
#picright {
    float: left;
    margin: 5px;
}