div {
    background-color: white;

   
}
body{
    background-color: darkgray;
    margin: 0;
}
header {
 
    background-color: white;
    padding-top: 5px;
}


strong {
    background-color: green;
    color: white;
   margin-left: 3%;
    padding: auto;
    text-align: center;
    
}
a {
  float: right;
padding-right: 3%;
padding-left: 3%;
text-decoration: none;

}
#Portfolio {
    border-left: 3px solid rgb(224, 191, 191);
}
#Contact {
    border-left: 3px solid;
    color: black;
}
footer {
    
    text-align: center;
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    
}
#something {
    margin: 40% 5% 60% 5%;
    text-align: center;
  
}