div {
    background-color: white;

   
}
body{
    background-color: darkgray;
    margin: 0;
    height: 100%;
}
.head {
        border-bottom: 3px solid;
        padding: 1%;

}
header {
 
    background-color: white;
    padding-top: 1%;
    margin: 0%;

}


strong {
    background-color: green;
    color: white;
    margin-left: 3%;
    padding: 2% 1% 1% 1%;
    text-align: center;
    font-size: 23px;
}
a {
float: right;
padding-right: 3%;
padding-left: 3%;
text-decoration: none;

}
#Portfolio {
    border-left: 3px solid black;
    color: purple;
}
#Contact {
    border-left: 3px solid black;
    color: purple;
    
}
.main {
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
   
   
   
    background-color: aqua;
   
}
#main2 {
    text-align: center;
    margin: 5%;
   
   

}
#h1 {
    border-bottom: 3px solid;
    margin-right: auto;
    margin-left: 5%;
    margin-right: 5%;
    background-color: aqua;
   
}

  
#i1, #i2, #i3, #i4, #i5 {
    
    z-index: 0;

}


#a1, #a2, #a3, #a4, #a5 {
    position: absolute;
    z-index: 2;
    font-size: 2vw;
    color:#ffffff;
    
    
}
#a1 {
  margin: 4%;
  top: 25%;
  left: 0%;
}
#a2 {
    top: 35%;
    left: 49%;
}
 
#a3 {
    margin: 3%;
    top: 55%;
    left: 0%;
 }
 #a4 {
    top: 62%;
    left: 50%;
 }
#a5 {
    top: 88%;
    left: 43%;
}

footer {
    
    text-align: center;
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    .head {
        background-color: lightseagreen;
    }
    header {
        background-color: lightseagreen;
    }
    
    body {
      background-color: greenyellow;
    }

    footer {
        background-color: lightseagreen;
    }
    img{
        width: 150px;
        height: 150px;
    }
    a{
        float:none;
    }
}

