div {
    background-color: white;

   
}
body{
    background-color: darkgray;
    margin: 0;
    height: 100%;
}
.head {
        border-bottom: 3px solid;

}
header {
 
    background-color: white;
    padding-top: 5px;
}


strong {
    background-color: green;
    color: white;
   margin-left: 3%;
    padding: auto;
    text-align: center;
   
    
}
a {
  float: right;
padding-right: 3%;
padding-left: 3%;
text-decoration: none;

}
#Portfolio {
    border-left: 3px solid #b95050;
  
}
#Contact {
    border-left: 3px solid;
    color: black;
}
.main {
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 50%;
    background-color: aqua;
    
}
#h1 {
    border-bottom: 3px solid;
    margin-right: auto;
    margin-left: auto;
   
}

  
#i1, #i2, #i3, #i4, #i5 {
    position: relative;
    left: 0%;
    top: 0%;
    z-index: 1;

}


#a1, #a2, #a3, #a4, #a5 {
    position: relative;
    left: 0%;
    top: 60%;
    z-index: 3;

}

footer {
    
    text-align: center;
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
}

